@model CMS.ViewModels.RegisterViewModel


@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">

                    <h3 class="text-center mb-4">Create Account</h3>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }

                    <form asp-action="Register" method="post">

                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input name="fullname" class="form-control" placeholder="Enter full name" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" placeholder="Enter email" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>

                            <div class="input-group">
                                <input id="registerPassword" name="password" type="password" class="form-control" placeholder="Enter password" required />
                                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('registerPassword', this)">
                                    👁
                                </button>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Role</label>
                            <input name="role" type="role" class="form-control" placeholder="Enter role" required />
                        </div>


                        <button type="submit" class="btn btn-primary w-100 rounded-pill">
                            Register
                        </button>

                        <div class="text-center mt-3">
                            Already have an account?
                            <a asp-action="Login">Login here</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword(inputId, btn) {
        const input = document.getElementById(inputId);
        if (input.type === "password") {
            input.type = "text";
            btn.innerText = "🙈";
        } else {
            input.type = "password";
            btn.innerText = "👁";
        }
    }
</script>
